* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

/* HEADER */
img {
    width: 100%;
}

figure {
    display: block;
    padding-top: 2.3rem;
}

header {

    display: flex;
    justify-content: center;
    background: url(img/star\ uó\ topo@2x.png) no-repeat center top;
    background-size: cover;
    background-color: aqua;
    height: 38.5vw;
    max-height: 735px;
}


.mainheader {
    position: relative;
    display: flex;
    align-items: center;

}

.star {

    position: relative;
    left: 27%;

}

.kylo {
    z-index: 1;
}

.wars {
    position: relative;
    right: 12%;
}

.criesualegiao {
    position: relative;
    right: 19%;
    padding-top: 12%;
    scale: 2;
}


/* MAIN */

main {

    display: flex;
    flex-direction: column;
    align-items: center;
}















/* MOBILE */
@media(min-width:201px) and (max-width: 500px) {
    img {
        width: 100%;
    }

    figure {
        display: block;
        padding-top: 2.3rem;
    }

    header {

        display: flex;
        justify-content: center;
        background: url(img/star\ uó\ topo@2x.png) no-repeat center top;
        background-size: cover;
        background-color: aqua;
        height: 38.5vw;
        max-height: 735px;
    }


    .mainheader {
        position: relative;
        display: flex;
        align-items: center;

    }

    .star {

        position: relative;
        left: 27%;

    }

    .kylo {
        z-index: 1;
    }

    .wars {
        position: relative;
        right: 12%;
    }

    .criesualegiao {
        position: relative;
        right: 19%;
        padding-top: 12%;
        scale: 2;
    }
}